<header class="navbar-fixed">
  <nav class="indigo darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">
        <img class='logo' src='assets/cc.svg' />
      </a>
      <a href="#" data-activates="burger" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text" href="#about">
          About
        </a></li>
        <li><a class="white-text" href="#work">
          Work
        </a></li>
      </ul>
      <ul class="side-nav" id="burger">
        <li><a class="grey-text text-darken-4" href="#about">
          About
        </a></li>
        <li><a class="grey-text text-darken-4" href="#work">
          Work
        </a></li>
      </ul>
    </div>
  </nav>
</header>
