<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main>
      <div id="particles-js"></div>
      <div id="home">
        <div class='main'>
          <div class="container center">
            <h1 class='main-header white-text'>COLOR CODE</h1>
            <br/>
            <p class='main-subheader'>
              Learn to code from a community of people who are passionate about code and teaching!
            </p>
          </div>
        </div>
        <div id="about" class="row center">
          <br/>
          <br/>
          <div class="container">
            <h3>Update For COVID-19</h3>
            <p>
              Please note that our sessions have been suspended due to the COVID-19 crisis. We will post more information
              here when we are able to restart. Until then, please stay safe and healthy and keep coding!
            </p>
            <h3>What is ColorCode?</h3>
            <p>
              ColorCode is a place for anyone to learn how to code. We're not prescriptive about what people should learn, but are more
              keen on hearing about what problems people want to solve or what they want to do, and then set them on the right
              path to achieving those goals. We also want to encourage those who are under-represented in tech (i.e. women, People
              of Colour , LGBTQ etc) to participate and feel empowered.
            </p>
          </div>
        </div>
        <div class="row center">
          <div class="col s12 m4">
            <div class="container">
              <h5>Why ColorCode?</h5>
              <p>Community and consistency is important when learning to code. We provide a safe, consistent space in which people
                can learn how to solve problems with code, build websites or think about how tech can help their small business.
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="container">
              <h5>When is ColorCode?</h5>
              <p>
                We meet every second Saturday, from about 9h30 to 13h00. See our
                <a href="https://www.facebook.com/colorcodeCT/">Facebook Page</a>
                or <a href="https://twitter.com/ColorCodeCT">Twitter Feed</a> for dates and reminders.
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="container">
              <h5>Who is ColorCode for?</h5>
              <p>Anyone, no matter your skill level, is welome at ColorCode. Tell us about what you want to do and we can assist in
                whatever way we can.</p>
            </div>
          </div>
        </div>
        <div class="row center">

          <div class="col s12 m4">
            <div class="container">
              <h5>Where is ColorCode?</h5>
              <p>ColorCode is based in Cape Town. We usually meet at
                <a href="https://houseof.co">House Of _</a>.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="container">
              <h5>What do you need for ColorCode?</h5>
              <p>
                Your own laptop.
              </p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="container">
              <h5>How much is ColorCode?</h5>
              <p>It's free! :)</p>
            </div>
          </div>
        </div>
        <div id="overlay" class="overlay">
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6621.224333082905!2d18.41448!3d-33.92538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc676f991abbb5%3A0x1d8ae2f239e897f1!2s186%20Loop%20St%2C%20Cape%20Town%20City%20Centre%2C%20Cape%20Town%2C%208000!5e0!3m2!1sen!2sza!4v1593328895085!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </div>
    </main>

    {%- include footer.html -%}

    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
